*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	background-image: url(../img/night.jpg);
	/*100% 100% 横向，纵向拉伸*/
	background-size: 100% 100%;
}
.login_pannel{
	height: 400px;
	width: 600px;
	background-color: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	/*x轴偏移量，y轴偏移量，模糊半径可选，扩展半径可选，颜色，投影方式(outset/inset)*/
	box-shadow: 0px 0px 10px 10px rgba(18,18,18,.6);
}
.login_top{
	height: 200px;
	background-color: transparent;
}
.login_main{
	height: 200px;
	background-color: rgba(0,0,0,.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login_main input{
	height: 30px;
	width: 300px;
	margin-bottom: 10px;
	border:hidden;
	border-bottom: 1px solid grey;
}
.login_main>input:first-of-type{
	background-color: transparent;
	font-size: 18px;
	color: grey;
}
.login_main>input:last-of-type{
	background-color: transparent;
	font-size: 16px;
	color: grey;
}
.login_main>button{
	width: 300px;
	height: 40px;
	border: hidden;
	background-color: #00a6ff;
	color: #fff;
	cursor: pointer;
}
.login_usericon{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: gold;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
}
.login_usericon img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
